<head>
  <% if (locals.title) { %>
  <title>Members Only | <%= title %></title>
  <% } else { %>
  <title>Members Only</title>
  <% } %>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
